.chat-side
  .side-header
    .side-header_box
      .side-header__box__user-name
        ああああああああ
      .side-header__box__menu
        .side-header__box__menu__new-group
          = link_to '/groups/new' do
            .fa.fa-edit
        .side-header__box__menu__edit-user
          = link_to '/groups/:id/edit' do
            .fa.fa-cog
  .groups
    .group
      .group__group-name gggggggg
      .group__latest-message hhhh