.chat-side
  .side-header
    .side-header_box
      .side-header__box__user-name
        ああああああああ
      .side-header__box__menu
        .side-header__box__menu__new-group
          %i.fa.fa-edit{:href => "#"}
          %i.fa.fa-cog{:href => "#"}
  .groups
    .group
      .group__group-name gggggggg
      .group__latest-message hhhh